<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/styles.css')
    //- This imports our google fonts
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Noto+Sans:wght@300&family=Open+Sans:ital,wght@0,500;0,700;1,400&family=Ubuntu:wght@300;500&display=swap' rel='stylesheet')

  //- Styling for sidebar throughout the website
  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/images/ac_headshot.jpg', alt='Portrait of Andrew')
        .dev-intro-box

          h5 Andrew Cross

          p #1 software engineer in my house.

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Andrew Cross

      block content

  script(src='/js/script.js')